.titulo{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.subtitulo{
    margin: 16px 0 24px 0;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: normal;
}

.butao{
    background-color: #222;
    border-color: chartreuse;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.butao:hover{
    background-color: #7fff00;
    color:#222;
    transition: 0.2s;
}

.nova-tarefa{
    font-size: 14px;
    width: 170px;
    height: 40px;
}

.container-tarefas{
    margin: 16px 0 16px 0;
}

.tarefa{
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    border: chartreuse 2px solid;
    border-radius: 5px;
    height: 60px;
    display: flex;
    background-color: #1D211F;
    align-items: center;
    justify-content: space-between;
}

.nome-tarefa{
    margin-left: 32px;
}

.deletar-tarefa{
    margin-right: 32px;
    border-radius:50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    font-size: 16px;
}

.check-icon{
    align-self:center;
}
